:root {
    --main-color: #D9E4EC;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 900;
}

.navbar a {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 35px;
    text-decoration: none;
    font-weight: 400;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    flex-direction: column;
}

.home-content {
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 600px;
    text-align: center;
}

.home-content h1 {
    position: relative;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
}

.home-content h3 {
    position: relative;
    font-size: 35px;
}

.icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}